<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="firstTime" value="true" />
    <add key="checkUpdates" value="false" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAuthentication" />
        <binding name="BasicHttpBinding_IStorage" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.mathiversity.com/Services/Storage.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStorage"
        contract="MVStorage.IStorage" name="BasicHttpBinding_IStorage" />
      <endpoint address="http://www.mathiversity.com/Services/Authentication.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthentication"
        contract="MVAuthentication.IAuthentication" name="BasicHttpBinding_IAuthentication" />
    </client>
  </system.serviceModel>
</configuration>
